.grid {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;

    padding: 0 5px 0 5px;
    align-items: center;
    justify-items: center;
}

.input-container {
    margin: 0 auto;
    
    max-width: 360px;
    width: 100%;
}