.row {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    width: 100%;
}

.row.appear {
    animation: appear ease-out;
}

.row.dissappear {
    animation:  appear ease-out reverse forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 100;
        transform: translateX(0%);
    }
}