.lingo-container {
    text-align: center;
    min-width: 360px;
    width: 60vw;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lingo-container .help-toggle-container {
    
}

.lingo-container .help-toggle-container span {
    margin-top: 10px;
}

.lingo-container .title {
    margin: 0;
}

.lingo-container .settings-toggle-container {

}

@media only screen and (max-width: 360px) {
    .lingo-container {
        min-width: 100%;
    }
}