.settings-container {
    min-width: 360px;
    width: 60vw;
    margin: 0 auto;
    padding: 10px 0 10px 0;

    display: flexbox;
    justify-content: center;
    align-items: center;
}

.settings-options {
    display: grid;
    grid-template-columns: 130px 2rem;
}

.settings-options label {
}