.start-button,
.stop-button {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: none;
    cursor: pointer;
    height: 5rem;
    width: 7rem;
    font-size: 2rem;
    border-radius: 5px;
}

.start-button:hover,
.start-button:focus,
.stop-button:hover,
.stop-button:focus {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.start-button {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    left: 0;
    right: 0;
    transition: background-color var(--default-animation-duration),
        color var(--default-animation-duration);
}

.stop-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.hidden {
    display: none;
}