@font-face {
    font-family: Evolventa;
    src: url('@fonts/Evolventa-zLXL.ttf');
}

:root {
    --background-color: #121212;
    --foreground-color: #E7E8E9;
    --background-color-hover: #E7E8E9;
    --foreground-color-hover: #121212;
    --red: #B3574D;
    --yellow: #B3A34D;
    --grey: #393A3B;
    --default-animation-duration: 0.25s;
}

html {
    font-size: 16px;
    font-family: Evolventa, sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

body {
    margin: 0;
    padding: 0;
}